<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><%= current_page.data.title || "Marisa Catalina Casey" %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <%= stylesheet_link_tag "app" %>
        <%= javascript_include_tag "modernizr" %>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
      <div class="fixed navigation">
        <nav class="top-bar main" role="navigation">
          <ul class="title-area">
            <li class="name"><a href="/"><img src=<%= current_page.data.logo || "../img/MCC_logo_Blue_Orange.png" %> id="logo"></a></li>
            <li class="toggle-topbar">
              <a href="#">
                <span>Menu</span>
              </a>
            </li>
          </ul>
          <section class="top-bar-section">
            <ul class="right" id="main-menu-links">
              <li>
                <%= link_to 'about', '/about.html'   %>
              </li>
              <li>
                <%= link_to 'work', '/work.html'   %>
              </li>
              <li>
                <%= link_to 'blog', '/blog.html' %>
              </li>
              <li>
                <%= link_to 'contact', '/#contact' %>
              </li>
            </ul>
          </section>
        </nav>
      </div>
      <div class="page-content">
        <%= yield %>
      </div>
      <footer>
        <p> Made by Palmar <copyright>2014</copyright></p>
      </footer>
        <%= javascript_include_tag "base" %>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>
