---
title: Work
priority: "1"
logo: "../assets/images/MCC_logo_Orange_Blue.png"
---
%section.portfolio-page
  %h1.page-title Work

%section.filters
  %a.portfolio-filter
    %span.green-arrow
    .filter-text photography
  %a.portfolio-filter
    %span.orange-arrow
    .filter-text  graphic design
  %a.portfolio-filter
    %span.yellow-arrow
    .filter-text  video
  %a.portfolio-filter
    %span.blue-arrow
    .filter-text  all


%section#portfolio
  - data.albums.each do |album|
    - if album.type.include? 'video'
      .art.video
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "234", :mozallowfullscreen => "", :src => "#{album.url}", :webkitallowfullscreen => "", :width => "281"}
    - else
      .art.red{class: "#{album.type}", data: {collection: album.photos.join(',')}}
        = image_tag("#{album.cover}", class: "album-cover", alt: "#{album.name}")
        %p.album-caption= album.headline

#backdrop.closed
  %ul.orbit{"data-orbit" => ""}
