---
title: Work
logo: "../assets/images/MCC_logo_Orange_Blue.png"
---
%section.portfolio-page
  %h1.page-title Work

%section.filters
  %a.portfolio-filter
    %span.green-arrow
    .filter-text photography
  %a.portfolio-filter
    %span.orange-arrow
    .filter-text  graphic design
  %a.portfolio-filter
    %span.yellow-arrow
    .filter-text  video
  %a.portfolio-filter
    %span.blue-arrow
    .filter-text  all


%section#portfolio

  .art.photography.graphic-design.red{data: {collection: "VAC_Calendar_CoverSM.png,VAC_Calendar_April.png,VAC_Calendar_Nov.png,VAC_Calendar_Feb.png"}}
    = image_tag("VAC_Calendar_Cover.gif", class: "album-cover")
    %p.album-caption Peace Corps<br/>Ecuador<br/>Calendar

  .art.photography.yellow{ data: {collection: "RoadTripRainWindshield.jpg,RoadTripFerrisWheelNight.jpg,RoadTripFlagsWaving.jpg,RoadTripRedwoodsDusk.jpg,RoadTripLakePowerlines.jpg,RoadTripMill.jpg"}}
    = image_tag("RoadTripRainWindshield.jpg", class: "album-cover")
    %p.album-caption Road<br/>Trip<br/>Moments

  .art.photography.blue{ data: { collection: "Galapagos_RedEyeBird_SM.jpg,Ecuador_Tortoise_SM.jpg,Galapagos_BlueFootBooby_SM.jpg,Galapagos_Iguana_SM.jpg,Galapagos_Crab_SM.jpg,Galapagos_SeaLion_SM.jpg"}}
    = image_tag("Galapagos_Crab.gif", class: "album-cover")
    %p.album-caption Galapagos<br/>Ecuador<br/>Animals

  .art.phography.orange{data: {collection: "DiningTablePainting_SM.png,ViewOutside2_SM.jpg,BoysRoom3_SM.jpg,GirlsRoom1_SM.jpg,GirlsRoom3_SM.jpg,BedroomWide2_SM.jpg"}}
    = image_tag("Bed_Detail_SQ.gif", class: "album-cover")
    %p.album-caption DAG<br/>Designs<br/>Interiors

  .art.photography.blue{data: {collection: "ParisRomaTent_SM.jpg,ParisArcTriomphe_SM.jpg,LouvreWorkshop_SM.jpg,StreetSceneDuskParis_SM.jpg,StreetArtPantherSM.jpg,PompidouOutside_SM.jpg"}}
    = image_tag("Pompidou_Exterior.gif", class: "album-cover")
    %p.album-caption Paris<br/>France<br/>Moments

  .art.photography.graphic-design.green{data: {collection: "MC_WebsiteSM.jpg,MC_Website_NecklacresSM.jpg,MC_Website_ArtistsSM.jpg,MC_Website_LookbookSM.jpg,MC_Website_BraceletsSM.jpg"}}
    = image_tag("Mujeres_Cambia_Bracelets_SQ.gif", class: "album-cover")
    %p.album-caption Mujeres:Cambia<br/>Website<br/>Photography

  .art.photography.orange{data:{collection: "BurningHorizontal_SM.jpg,OrangeSculptureDesert_SM.jpg,TrapezeFallingWoman_SM.jpg,BurningManBalloons_SM.png,TrojanHorseCraneDusk_SM.jpg,TempleNightBlur_SM.jpg"}}
    = image_tag("Burning_Man_Balloons.jpg", class: "album-cover")
    %p.album-caption Burning<br/>Man<br/>Moments

  .art.video
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "234", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/106988574", :webkitallowfullscreen => "", :width => "281"}

  .art.video
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "234", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/84488843", :webkitallowfullscreen => "", :width => "281"}

  .art.graphic-design.blue{data: {collection: "PC_50InfographicPrint.jpg,Peace_Corps_Infographic.png"}}
    = image_tag("Peace_Corps_Infographic.gif", class: "album-cover")
    %p.album-caption Peace Corps<br/>Anniversary<br/>Infographic

  .art.graphic-design.yellow{data:{collection: "KinuaLogo2Wide_SM.jpg,KinuaLogo1_SM.jpg"}}
    = image_tag("Kinua_Logo.gif", class: "album-cover")
    %p.album-caption Kinua<br/>Organics<br/>Logos

  .art.photography.graphic-design.green{data: {collection: "MCPostcard1.png,MCPostcard2.png,McBrochure2.png,McBrochure1.png"}}
    = image_tag("Mujeres_Cambia_Brochure.gif", class: "album-cover")
    %p.album-caption MC<br/>Print<br/>Design

  .art.photography.green{data: {collection:"CharlieBrownGirlSinging_SM.jpg,TheatreClassBoyEyes_SM.jpg,MusicClassXylophone.jpg,KeyboardClass2_SM.jpg,TheatreClass3_SM.jpg,Ramp1Vertical_SM.png"}}
    = image_tag("All_Newton_Music_Portrait.gif", class: "album-cover")
    %p.album-caption All Newton<br/>Music<br/>School

  .art.graphic-design.orange{data:{collection: "PC_EcuadorCardsWeb.jpg,PeaceCorpsGameBoardSM.png"}}
    = image_tag("Ecuador_Game_Cards.gif", class: "album-cover")
    %p.album-caption Peace Corps<br/>Ecuador<br/>Boardgame

  .art.photography.graphic-design.blue{data: {collection: "Ecuador_Color_Collage.png,EcuadorPosterMockUp.jpg"}}
    = image_tag("Ecuador_Color_Collage.gif", class: "album-cover")
    %p.album-caption Celebrate<br/>Ecuador<br/>Poster

  .art.video
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "234", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/69414940", :webkitallowfullscreen => "", :width => "281"}

  .art.graphic-design.red{data: {collection: "ManyFacesCharlieALT_SM.jpg,CharlieVTMeadowAwesomeSM.jpg,CharlieinDinerReflectSM.jpg,CoastalPaperCoSM.jpg,CharlieThroughTreesMohawkSM.jpg,CharlieOffHighwaySM.jpg"}}
    = image_tag("ManyFacesCharlieALT_SM.jpg", class: "album-cover")
    %p.album-caption Travels<br/>in<br/>Charlie

  .art.graphic-design.yellow{data:{collection:"PeaceCorpsTShirtFront.png,PeaceCorpsTShirtBack.png,Peace_Corps_Shirt.png"}}
    = image_tag("Peace_Corps_Shirt_SQ.gif", class: "album-cover")
    %p.album-caption Peace Corps<br/>Omnibus 107<br/>T-shirt

  .art.graphic-design.green{data: {collection: "BrooklynAnnouncementWeb.png,BalloonInviteMockUpPurple.jpg,BrookPosterMockUp.jpg,BalloonInvitePhoto_SM.jpg"}}
    = image_tag("Baby_Shower_Invite.gif", class: "album-cover")
    %p.album-caption New Baby<br/>Print<br/>Graphics

  .art.graphic-design.orange{ data: {collection: "CAD-70s-sticker.png,CentrodeArteLogo2.jpg,CentrodeArteLogo1.jpg"}}
    = image_tag("CAD_Sticker.gif", class: "album-cover")
    %p.album-caption Art & Design<br/>Center Logo

  .art.photography.green{data: {collection: "HikeTumbacoWSLarge_SM.jpg,ToySoldiers_SM.jpg,CastleFireworks_SM.jpg,SchoolBeachMinga_SM.jpg,MuseoProhibido_SM.jpg,CheTruck_SM.jpg"}}
    = image_tag("Ecuador_Truck.gif", class: "album-cover")
    %p.album-caption Selected <br/>Ecuador<br/>Moments

  .art.graphic-design.blue{data:{collection: "TNC_FondosAgua.png,TNC_DesafiosGlobales.png,TNC_CalidadVida.png,TNC_Desarrollo.png,TNC_Paises.png,TNC_Mision.png"}}
    = image_tag("TNC_Slide.gif", class: "album-cover")
    %p.album-caption The Nature<br/>Conservancy<br/>Presentations

  .art.graphic-design.yellow{data: {collection: "NoBotarCampaign1.jpg,NoBotarCampaign2.jpg"}}
    = image_tag("No_Botar_Sticker.gif", class: "album-cover")
    %p.album-caption No Botar<br/>Basura<br/>Campagin

#backdrop.closed
  %ul.orbit{"data-orbit" => ""}
