---
title: Work
logo: "../img/MCC_logo_Orange_Blue.png"
---
%section.portfolio-page
  %h1.page-title Work

%section.filters
  %a.portfolio-filter 
    %span.green-arrow
    .filter-text photography
  %a.portfolio-filter 
    %span.orange-arrow
    .filter-text  graphic design
  %a.portfolio-filter 
    %span.yellow-arrow
    .filter-text  video
  %a.portfolio-filter 
    %span.blue-arrow
    .filter-text  all


%section#portfolio
  = image_tag("VAC_Calendar_Cover.gif", class: "art photography graphic-design", data: {collection: "VAC_Calendar_CoverSM.png,VAC_Calendar_April.png,VAC_Calendar_Nov.png,VAC_Calendar_Feb.png"})
  = image_tag("RoadTripRainWindshield.jpg", class: "art photography", data: {collection: "RoadTripRainWindshield.jpg,RoadTripFerrisWheelNight.jpg,RoadTripFlagsWaving.jpg,RoadTripRedwoodsDusk.jpg,RoadTripLakePowerlines.jpg,RoadTripMill.jpg"})
  = image_tag("Galapagos_Crab.gif", class: "art photography", data: { collection: "Galapagos_RedEyeBird_SM.jpg,Ecuador_Tortoise_SM.jpg,Galapagos_BlueFootBooby_SM.jpg,Galapagos_Iguana_SM.jpg,Galapagos_Crab_SM.jpg,Galapagos_SeaLion_SM.jpg"})
  = image_tag("Bed_Detail_SQ.gif", class: "art photography", data: {collection: "DiningTablePainting_SM.png,ViewOutside2_SM.jpg,BoysRoom3_SM.jpg,GirlsRoom1_SM.jpg,GirlsRoom3_SM.jpg,BedroomWide2_SM.jpg"})
  = image_tag("Pompidou_Exterior.gif", class: "art photography", data: {collection: "ParisRomaTent_SM.jpg,ParisArcTriomphe_SM.jpg,LouvreWorkshop_SM.jpg,StreetSceneDuskParis_SM.jpg,StreetArtPantherSM.jpg,PompidouOutside_SM.jpg"})
  = image_tag("Mujeres_Cambia_Bracelets_SQ.gif", class: "art photography graphic-design", data: {collection: "MC_WebsiteSM.jpg,MC_Website_NecklacresSM.jpg,MC_Website_ArtistsSM.jpg,MC_Website_LookbookSM.jpg,MC_Website_BraceletsSM.jpg"})
  = image_tag("Burning_Man_Balloons.jpg", class: "art photography", data:{collection: "BurningHorizontal_SM.jpg,OrangeSculptureDesert_SM.jpg,TrapezeFallingWoman_SM.jpg,BurningManBalloons_SM.png,TrojanHorseCraneDusk_SM.jpg,TempleNightBlur_SM.jpg"})
  .art.video
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "234", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/106988574", :webkitallowfullscreen => "", :width => "281"}
  .art.video
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "234", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/84488843", :webkitallowfullscreen => "", :width => "281"}
  = image_tag("Peace_Corps_Infographic.gif", class: "art graphic-design", data: {collection: "PC_50InfographicPrint.jpg,Peace_Corps_Infographic.png"})
  = image_tag("Kinua_Logo.gif", class: "art graphic-design", data:{collection: "KinuaLogo2Wide_SM.jpg,KinuaLogo1_SM.jpg"})
  = image_tag("Mujeres_Cambia_Brochure.gif", class: "art photography graphic-design", data: {collection: "MCPostcard1.png,MCPostcard2.png,McBrochure2.png,McBrochure1.png"})
  = image_tag("All_Newton_Music_Portrait.gif", class: "art photography", data: {collection:"CharlieBrownGirlSinging_SM.jpg,TheatreClassBoyEyes_SM.jpg,MusicClassXylophone.jpg,KeyboardClass2_SM.jpg,TheatreClass3_SM.jpg,Ramp1Vertical_SM.png"})
  = image_tag("Ecuador_Game_Cards.gif", class: "art graphic-design", data:{collection: "PC_EcuadorCardsWeb.jpg,PeaceCorpsGameBoardSM.png"})
  = image_tag("Ecuador_Color_Collage.gif", class: "art photography graphic-design", data: {collection: "Ecuador_Color_Collage.png,EcuadorPosterMockUp.jpg"})
  .art.video
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "234", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/69414940?title=0&byline=0&portrait=0&color=ff9933", :webkitallowfullscreen => "", :width => "281"}
  = image_tag("ManyFacesCharlieALT_SM.jpg", class: "art graphic-design", data: {collection: "ManyFacesCharlieALT_SM.jpg,CharlieVTMeadowAwesomeSM.jpg,CharlieinDinerReflectSM.jpg,CoastalPaperCoSM.jpg,CharlieThroughTreesMohawkSM.jpg,CharlieOffHighwaySM.jpg"})
  = image_tag("Peace_Corps_Shirt_SQ.gif", class: "art graphic-design", data:{collection:"PeaceCorpsTShirtFront.png,PeaceCorpsTShirtBack.png,Peace_Corps_Shirt.png"})
  = image_tag("Baby_Shower_Invite.gif", class: "art graphic-design", data: {collection: "BrooklynAnnouncementWeb.png,BalloonInviteMockUpPurple.jpg,BrookPosterMockUp.jpg,BalloonInvitePhoto_SM.jpg"})
  = image_tag("CAD_Sticker.gif", class: "art graphic-design", data: {collection: "CAD-70s-sticker.png,CentrodeArteLogo2.jpg,CentrodeArteLogo1.jpg"})
  = image_tag("Ecuador_Truck.gif", class: "art photography", data: {collection: "HikeTumbacoWSLarge_SM.jpg,ToySoldiers_SM.jpg,CastleFireworks_SM.jpg,SchoolBeachMinga_SM.jpg,MuseoProhibido_SM.jpg,CheTruck_SM.jpg"})
  = image_tag("TNC_Slide.gif", class: "art graphic-design", data:{collection: "TNC_FondosAgua.png,TNC_DesafiosGlobales.png,TNC_CalidadVida.png,TNC_Desarrollo.png,TNC_Paises.png,TNC_Mision.png"})
  = image_tag("No_Botar_Sticker.gif", class: "art graphic-design", data: {collection: "NoBotarCampaign1.jpg,NoBotarCampaign2.jpg"})
#backdrop.closed
  %ul.orbit{"data-orbit" => ""}
